<!DOCTYPE html>
<html>
<head>
<title>MyAsset</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container -sm">
<h2>Key Query Forms</h2>

<form action="/key" method="get">
  Key name:<br>
  <input class="form-control"type="text" name="key" value="Mickey">
  <br><br>
  <input type="submit" value="Submit" class="btn btn-dark">
</form> 

</div>

</body>
</html>